<div id="<%= dom_id message %>">
  <p>
    <strong>Driver:</strong>
    <%= message.driver_id %>
  </p>

  <p>
    <strong>Message:</strong>
    <%= message.message %>
  </p>

  <p>
    <strong>To driver:</strong>
    <%= message.to_driver_id %>
  </p>

</div>
