<% for p in @devices do %>
<div class="d-flex align-items-start mb-3">
  <div class="me-3 position-relative">
    <img
      src="/assets/face10.jpg"
      class="rounded-circle"
      width="40"
      jeight="40"
      alt=""
    >
    <span
      class="
        badge bg-primary position-absolute top-0 start-100 translate-middle rounded-pill
      "
    >5</span>
  </div>

  <div class="flex-fill">
    <div class="d-flex justify-content-between align-items-center">
      <div class="fw-semibold"><a href="#"><%= p.name%></a></div>
      <span class="fs-sm text-muted">14:58</span>
    </div>
    Who knows, maybe that would be the best thing for me...
  </div>
</div>

<div class="d-flex align-items-start mb-3">
  <div class="me-3 position-relative">
    <img
      src=""
      class="rounded-circle"
      width="40"
      jeight="40"
      alt=""
    >
    <span
      class="
        badge bg-primary position-absolute top-0 start-100 translate-middle rounded-pill
      "
    >4</span>
  </div>

  <div class="flex-fill">
    <div class="d-flex justify-content-between align-items-center">
      <div class="fw-semibold"><a href="#"><%= p.name%></a></div>
      <span class="fs-sm text-muted">12:16</span>
    </div>
    That was something he was unable to do because...
  </div>
</div>
<% end %>

  
  
  
 