<div class="card">
  <div class="card-header d-flex align-items-center">
    <h6 class="mb-0"> Video Steam</h6>
    <div class="ms-auto">
      <div class="hstack gap-2">
        <a href="#" class="text-body">
          <i class="ph-at"></i>
        </a>
        <a href="#" class="text-body">
          <i class="ph-microphone-slash"></i>
        </a>
        <a href="#" class="text-body">
          <i class="ph-envelope-open"></i>
        </a>
      </div>
    </div>
  </div>

  <div class="card-body">
   <%= image_tag "https://static.vecteezy.com/system/resources/previews/013/129/494/non_2x/abstract-black-glossy-background-illustration-with-gradient-design-modern-screen-design-for-mobile-app-web-infographic-brochure-free-vector.jpg" , :width => "100%"%>
  </div>
</div>
