<div>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-primary btn-labeled btn-labeled-start">
                                            <span class="btn-labeled-icon bg-black bg-opacity-20">
                                                <i class="ph-gear"></i>
                                            </span>
                                            Segmented
                                        </button>
                                        <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false"></button>
                                        <div class="dropdown-menu" style="">
                                            <a href="#" class="dropdown-item">Action</a>
                                            <a href="#" class="dropdown-item">Another action</a>
                                            <a href="#" class="dropdown-item">One more action</a>
                                            <div class="dropdown-divider"></div>
                                            <a href="#" class="dropdown-item">Separated line</a>
                                        </div>
                                    </div>
                                </div>