<% @ticket = Ticket.last%>
<% content_for :page_header do %>
  <div class="page-header page-header-light shadow">
    <div class="page-header-content d-lg-flex">
      <div class="d-flex">
        <h4 class="page-title mb-0">
          <span class="fw-normal">
            ticket:
            <b><%#= @ticket.name %></b></span>
        </h4>
      </div>

      <div class="collapse d-lg-block my-lg-auto ms-lg-auto" id="page_header">

        <div class="d-sm-flex align-items-center mb-3 mb-lg-0 ms-lg-3">

          <div class="d-inline-flex mt-3 mt-sm-0">
            <a
              href="/tickets/<%#=@ticket.id%>/retrospec"
              class="btn btn-outline-primary ms-1"
            >
              <i class="ph-question"></i>
              Close
            </a>
            <a href="/tickets/<%#=@ticket.id%>/daily" class="btn btn-outline-primary ms-1">
              <i class="ph-calendar"></i>
              Open
            </a>
          </div>
          <div class="vr d-none d-sm-block flex-shrink-0 my-2 mx-3">
          </div>

          <div class="vr d-none d-sm-block flex-shrink-0 my-2 mx-3">
          </div>
          <a
            href="/tickets/<%#=@ticket.id%>/stories/new"
            class="btn btn-outline-primary ms-1"
          >
            <i class="fa fa-book-plus"></i>
            New Story
          </a>
        </div>
      </div>
    </div>

    <div class="page-header-content d-lg-flex border-top">
      <div class="d-flex">
        <div class="breadcrumb py-2">
          <a href="/tickets/<%#=@ticket.id%>" class="breadcrumb-item"><i class="ph-house"></i></a>
          <a href="/tickets/<%#=@ticket.id%>/iterations" class="breadcrumb-item">Iterations</a>
          <a href="/tickets/<%#=@ticket.id%>/stories" class="breadcrumb-item">Stories</a>
          <a href="/tickets/<%#=@ticket.id%>/activities" class="breadcrumb-item">Feed</a>
          <a href="/tickets/<%#=@ticket.id%>/members" class="breadcrumb-item">Members</a>
          <a href="/tickets/<%#=@ticket.id%>/articles" class="breadcrumb-item">
            Documents</a>
        </div>

        <a
          href="#breadcrumb_elements"
          class="
            btn btn-light align-self-center collapsed d-lg-none border-transparent
            rounded-pill p-0 ms-auto
          "
          data-bs-toggle="collapse"
        >
          <i class="ph-caret-down collapsible-indicator ph-sm m-1"></i>
        </a>
      </div>

      <div class="collapse d-lg-block ms-lg-auto" id="breadcrumb_elements">
        <div class="d-lg-flex mb-2 mb-lg-0">

          <a
            href="/tickets/<%#=@ticket.id%>/messages"
            class="d-flex align-items-center text-body py-2"
          >
            <i class="ph-chat-circle-dots me-1"></i>
            Chat
          </a>
          &nbsp; &nbsp; &nbsp;
          <a
            href="/tickets/<%#=@ticket.id%>/calendar"
            class="d-flex align-items-center text-body py-2"
          >
            <i class="ph-calendar me-2"></i>
            Calendar
          </a>
          &nbsp; &nbsp; &nbsp;
          <a
            href="https://meet.jit.si/demovideocall"
            target="BLANK"
            class="d-flex align-items-center text-body py-2"
          >
            <i class="ph-video-camera me-2"></i>
            Video
          </a>

        </div>
      </div>
    </div>
  </div>
<% end %>
