<div class="columns">
  <div class="column">
    <div class="tile ">
        <div class="card is-card-widget tile is-child">
            <div class="card-content">
                <div class="level is-mobile">
                    <div class="level-item">
                        <div class="is-widget-label">
                            <h3 class="subtitle is-spaced"> New Leads </h3>
                            <h1 class="title">
                                <div> 512 </div>
                            </h1>
                        </div>
                    </div>
                    <div class="level-item has-widget-icon">
                        <div class="is-widget-icon"><span class="icon has-text-primary is-large"><i
                                    class="mdi mdi-account-multiple mdi-48px"></i></span></div>
                    </div>
                </div>
            </div><!---->
        </div>
    </div>
  </div>
  <div class="column">
    <div class="tile ">
        <div class="card is-card-widget tile is-child">
            <div class="card-content">
                <div class="level is-mobile">
                    <div class="level-item">
                        <div class="is-widget-label">
                            <h3 class="subtitle is-spaced"> Converted Leads </h3>
                            <h1 class="title">
                                <div> 12 </div>
                            </h1>
                        </div>
                    </div>
                    <div class="level-item has-widget-icon">
                        <div class="is-widget-icon"><span class="icon has-text-primary is-large"><i
                                    class="mdi mdi-account-multiple mdi-48px"></i></span></div>
                    </div>
                </div>
            </div><!---->
        </div>
    </div>
  </div>
  <div class="column">
    <div class="tile ">
        <div class="card is-card-widget tile is-child">
            <div class="card-content">
                <div class="level is-mobile">
                    <div class="level-item">
                        <div class="is-widget-label">
                            <h3 class="subtitle is-spaced"> Conversion Rate </h3>
                            <h1 class="title">
                                <div> 43.2% </div>
                            </h1>
                        </div>
                    </div>
                    <div class="level-item has-widget-icon">
                        <div class="is-widget-icon"><span class="icon has-text-primary is-large"><i
                                    class="mdi mdi-account-multiple mdi-48px"></i></span></div>
                    </div>
                </div>
            </div><!---->
        </div>
    </div>
  </div>
  <div class="column">
    <div class="tile ">
        <div class="card is-card-widget tile is-child">
            <div class="card-content">
                <div class="level is-mobile">
                    <div class="level-item">
                        <div class="is-widget-label">
                            <h3 class="subtitle is-spaced"> Rejected Leads </h3>
                            <h1 class="title">
                                <div> 3 </div>
                            </h1>
                        </div>
                    </div>
                    <div class="level-item has-widget-icon">
                        <div class="is-widget-icon"><span class="icon has-text-danger is-large"><i
                                    class="mdi mdi-account-multiple mdi-48px"></i></span></div>
                    </div>
                </div>
            </div><!---->
        </div>
    </div>
  </div>
</div>